type file
id Olo.Menus.EightySixing.Api
title Menu EightySixing API
version 0.1.0
authors Olo
owners Olo Menu Team
description
  Deployment package 
files 
  publish ==> .
include-referenced-projects true